<footer>
  <div class="footer-inner">
    <div class="footer-col">
      <h5>Info</h5>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Zip</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Orders and Returns</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Advanced Search</a></li>
        <li><a href="#">Newsletter Subscription</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>PC Parts</h5>
      <ul>
        <li><a href="#">CPUs</a></li>
        <li><a href="#">Add-On Cards</a></li>
        <li><a href="#">Hard Drives (Internal)</a></li>
        <li><a href="#">Graphic Cards</a></li>
        <li><a href="#">Keyboards / Mice</a></li>
        <li><a href="#">Cases / Power Supplies / Cooling</a></li>
        <li><a href="#">RAM Modules</a></li>
        <li><a href="#">Software</a></li>
        <li><a href="#">Speakers / Headsets</a></li>
        <li><a href="#">Motherboards</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>Desktop PCs</h5>
      <ul>
        <li><a href="#">Custom PCs</a></li>
        <li><a href="#">Series</a></li>
        <li><a href="#">All-in-One PCs</a></li>
        <li><a href="#">HP/Compaq PCs</a></li>
        <li><a href="#">ASUS PCs</a></li>
        <li><a href="#">NEC PCs</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>Laptops</h5>
      <ul>
        <li><a href="#">Everyday Use Notebooks</a></li>
        <li><a href="#">MSI Workstation Series</a></li>
        <li><a href="#">MSI Prestige Series</a></li>
        <li><a href="#">Tablets and iPads</a></li>
        <li><a href="#">ASUS PCs</a></li>
        <li><a href="#">Infinity Gaming Notebooks</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>Address</h5>
      <div class="addr">
        <strong>Tecs</strong>
        1234 Street Address City Address, 1234<br>
        Phone: <a href="#" style="color:#e00;">(04) 1234 5678</a><br>
        Email: <a href="#" style="color:#e00;">info@tecs.com.au</a><br><br>
        <strong>Opening Hours</strong>
        Mon–Thursday: 9:00 AM – 5:30 PM<br>
        Friday: 9:00 AM – 5:00 PM<br>
        Saturday: 9:00 AM – 3:00 PM<br>
        Sunday: Closed
      </div>
      <div class="footer-social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <span>Copyright &copy; 2025 Tecs Pty Ltd. All Rights Reserved.</span>
    <div class="payment-icons">
      <span class="pay-icon pay-visa">VISA</span>
      <span class="pay-icon pay-mc">MC</span>
      <span class="pay-icon pay-amex">AMEX</span>
      <span class="pay-icon pay-pp">PayPal</span>
      <span class="pay-icon">ZIP</span>
      <span class="pay-icon">AfterPay</span>
    </div>
  </div>
</footer>